.caci_3{
    border : 5px solid black;
    width : 36%;
    margin : auto;
    border-radius: 2% 2% 2% 2%;
    
    
}

.profil{
    background-color: grey;
    border : 5px solid grey;
    padding: 5%;
    text-align: center;
    text-shadow: 0 0 54px rgba(202,228,225,1);


}

.interieur_profil{

    padding: 3%;
}