.example-form-field {
  width: 200px;
}

.container{
  background-color: gray;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
}

.grand_cadre{
  border : solid black;
}

/*.form{
  display: block;
  margin: 0 auto;
}*/



  
  
  