.decoration {
    border : 5px solid black;
    border-radius: 6px;
    padding:1%;
    width: 30%;
    
    background-color: gray;
    margin:auto;
    
    


    
  }
  .caci_2 {
    border: 5px solid white;
    
    padding: 4%;
  }
  
  .caci {
    border: 5px solid white;
    
    padding: 4%;

    
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  
  .bouton {
    
    
    float: right;
    color: white;
    background-color: red;
    margin-top: 3px;
    border: outset;
    
    
  }

  .button {
    background-color: red;
    margin-top: 3px;
    border: outset;
    color: white;
  }

  .bouton_client{
    color: white;
    background-color: red;
    margin-left : 14%;
    border: outset;
    margin-top: 5%;
  
  
  }

  .bouton_client_2{
    color: white;
    background-color: red;
    margin-left: 12%;
    border: outset;
    margin-top: 5%;
  }