/*.contenir{
    background-color: gray;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
}

.decoration_field{
    width: 200px;
}*/
.example-form-field {
    width: 200px;
  }
  
  .container{
    background-color: gray;
    padding: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 10%;
  }